* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
a {
    text-decoration-line: none;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 200px;
}
.hero-section img {
    width: 400px;
    padding: 30px 0 30px 30px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    /* padding: 0 180px; */
}

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #1f2937;
    /* margin-left: 10px; */
    /* gap: 20px; */
}
.header-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}
.hero-section {
    display: flex;
    justify-content: space-between;
    /* gap: 120px; */
    padding: 10px 50px;
    background-color: #1f2937;
}

.hero-left {
    padding: 30px 180px 30px 0;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
}

.information-section h2, figcaption {
    padding: 30px 30px 30px 0;
}
.information-section img {
    border: 2px solid blue;
    border-radius: 10px;
}

.info-section-images {
    display: flex;
}
.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 250px;
    background-color: #e5e7eb;
}
.bottom-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    /* background-color: #3882f6; */
}

footer{
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
    color: #e5e7eb;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 50px;
    background-color: #3882f6;
    border-radius: 5px;
}

.call-to-action button {
    border: 1px solid white;
}
button {
    padding: 5px 20px;
    background-color: #3882f6;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    color: #e5e7eb;
}
h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

a, .hero-left p {
     color: #e5e7eb;
    font-size: 18px;
}
.information-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
}
.left {
    color: #e5e7eb;
}
.thor {
    font-weight: 900;
    align-self: flex-end;
}