* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 200px;
}
.hero-section img {
    width: 400px;
    padding: 30px;
}

body {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* .header-logo {
    display: flex;
    align-self: flex-start;
} */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info-section-images {
    display: flex;
}
.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
